/* Toggle security policy for viewing test results
ALTER SECURITY POLICY security_mask_policy WITH (STATE = OFF); -- Disable security policy
ALTER SECURITY POLICY security_mask_policy WITH (STATE = ON);  -- Enable security policy
*/
USE [DEMO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_mask](
	[tenant_id] [dbo].[dtID] NOT NULL,
    [security_mask_id] [dbo].[dtID] IDENTITY(1,1) NOT NULL,
	[description] [dbo].[dtSTRING] NOT NULL,
	[name] [dbo].[dtNAME] NOT NULL,
	[security_mask_role] [dbo].[dtSECURITYMASK] NOT NULL,
	[security_mask_group] [dbo].[dtSECURITYMASK] NOT NULL,
	[security_mask_structure] [dbo].[dtSECURITYMASK] NOT NULL,
	[security_mask_item] [dbo].[dtSECURITYMASK] NOT NULL,
	[active_flag] [dbo].[dtFLAG] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[security_mask] ON 
GO
INSERT [dbo].[security_mask] ([tenant_id], [security_mask_id], [description], [name], [security_mask_role], [security_mask_group], [security_mask_structure], [security_mask_item], [active_flag]) VALUES (1001, 0, N'ER Accruals', N'ER Accruals', N'EMPL', N'TA  ', N'ACBL', N'*   ', 1)
INSERT [dbo].[security_mask] ([tenant_id], [security_mask_id], [description], [name], [security_mask_role], [security_mask_group], [security_mask_structure], [security_mask_item], [active_flag]) VALUES (1001, 1, N'ER Accruals - Accrual', N'ER Accruals - Accrual', N'EMPL', N'TA  ', N'ACBL', N'ACRL', 1)
INSERT [dbo].[security_mask] ([tenant_id], [security_mask_id], [description], [name], [security_mask_role], [security_mask_group], [security_mask_structure], [security_mask_item], [active_flag]) VALUES (1001, 2, N'ER Accruals - Accrued Hours', N'ER Accruals - Accrued Hours', N'EMPL', N'TA  ', N'ACBL', N'ACRH', 1)
GO
SET IDENTITY_INSERT [dbo].[security_mask] OFF
GO
ALTER TABLE [dbo].[security_mask] ADD  CONSTRAINT [pk_security_mask] PRIMARY KEY NONCLUSTERED 
(
	[tenant_id] ASC,
    [security_mask_id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[security_mask] ADD CONSTRAINT [df_SecMask_ActFlg]  DEFAULT ((1)) FOR [active_flag]
GO

ALTER TABLE [dbo].[security_mask]
    ADD CONSTRAINT df_tenant_id_security_mask
    DEFAULT CAST(SESSION_CONTEXT(N'tenant_id') AS INT) FOR tenant_id;
GO

/* Adapted from the original table */
GO
